@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
textarea {
  border: none;
  background-color: transparent;
}

textarea {
  resize: none;
}

address,
cite {
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

.site-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

:root {
  --color-black: #000;
  --color-white: #fff;
  --color-dark: #34393d;
  --color-bg: #fffbf6;
  --color-accent: #3366FF;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1;
  color: var(--color-dark);
  background-color: var(--color-white);
  position: relative;
  overflow-x: hidden;
}
@media (max-width: 767.98px) {
  body {
    font-size: 15px;
  }
}
body.no-scroll {
  overflow: hidden;
}

.container {
  max-width: 1640px;
  padding: 0px 30px;
  margin: 0 auto;
}
@media (max-width: 576px) {
  .container {
    padding: 0 10px;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.logo {
  display: block;
  width: 90px;
  height: 32px;
}
.logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.logo:hover {
  opacity: 0.8;
}

.btn {
  display: inline-block;
  line-height: 1;
  background-color: var(--color-accent);
  color: var(--color-white);
  -webkit-transition: 200ms ease;
  -o-transition: 200ms ease;
  transition: 200ms ease;
  padding: 6px 30px;
  border-radius: 3px;
  border: 1px solid var(--color-accent);
  text-align: center;
  height: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.btn:hover {
  background-color: var(--color-white);
  color: var(--color-accent);
}
.btn:active {
  -webkit-transform: scale(0.98);
      -ms-transform: scale(0.98);
          transform: scale(0.98);
}
.btn--border {
  border-color: #cfcfcf;
  background-color: var(--color-white);
  color: var(--color-black);
  border-color: var(--color-accent);
}
.btn--border:hover {
  background-color: var(--color-accent);
  color: var(--color-white);
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.checkbox__box {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.1);
  position: relative;
  margin-right: 13px;
}
.checkbox__input {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.checkbox__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  color: #9da4a9;
  font-size: 13px;
  line-height: 1;
}
@media (max-width: 576px) {
  .checkbox__text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.checkbox__text a {
  color: var(--color-accent);
}

.custom-checkbox {
  position: relative;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.custom-checkbox__input {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.custom-checkbox__box {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: var(--color-white);
  position: relative;
  border-radius: 50%;
  margin-right: 10px;
  border: 1px solid #cfcfcf;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.custom-checkbox__box::after {
  position: absolute;
  content: "";
  width: 50%;
  height: 50%;
  background-color: transparent;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
}
.custom-checkbox .custom-checkbox__input:checked ~ .custom-checkbox__box::after {
  background-color: var(--color-accent);
}
.custom-checkbox__text {
  color: var(--color-black);
  line-height: 1;
}
.custom-checkbox--square .custom-checkbox__box {
  border-radius: 0;
}
.custom-checkbox--square .custom-checkbox__box::after {
  border-radius: 0;
}
.custom-checkbox--square .custom-checkbox__text {
  color: #8c8c8c;
}
.custom-checkbox--square .custom-checkbox__text br {
  display: none;
}
@media (max-width: 576px) {
  .custom-checkbox--square .custom-checkbox__text br {
    display: block;
  }
}
.custom-checkbox--square .custom-checkbox__text a {
  color: var(--color-black);
}
.custom-checkbox--square .custom-checkbox__text a:hover {
  text-decoration: underline;
}

.header {
  padding: 24px 0;
  color: #333933;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-white);
  z-index: 10;
  border-bottom: 1px solid #cfcfcf;
}
.header.scroll-header {
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__toggle {
  display: none;
}
@media (max-width: 991.98px) {
  .header__toggle {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 29px;
    height: 22px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 350ms ease-in;
    -o-transition: 350ms ease-in;
    transition: 350ms ease-in;
    margin-left: 25px;
    overflow: hidden;
  }
  .header__toggle-line {
    border-radius: 3px;
    width: 100%;
    height: 2px;
    background-color: var(--color-black);
    position: relative;
    -webkit-transition: 150ms ease-in;
    -o-transition: 150ms ease-in;
    transition: 150ms ease-in;
  }
}
.header .header-tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 991.98px) {
  .header .header-tools {
    margin-left: auto;
  }
}
.header .header-tools__item {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 24px;
}
.header .header-tools__item:not(:last-child) {
  margin-right: 26px;
}
.header .header-tools__btn {
  width: 24px;
  height: 24px;
  position: relative;
}
.header .header-tools__btn.cart-btn {
  margin-right: 3px;
}
.header .header-tools__btn svg {
  width: 100%;
  height: 100%;
  fill: var(--color-black);
}
.header .header-tools__btn .count {
  position: absolute;
  line-height: 1;
  background-color: var(--color-accent);
  color: var(--color-white);
  padding: 2px 4px;
  border-radius: 50%;
  top: -6px;
  right: -6px;
  font-size: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cart {
  position: relative;
  height: 100%;
}
.cart__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(auto, 1100px) 1fr;
  grid-template-columns: minmax(auto, 1100px) 1fr;
  gap: 65px;
  padding-left: max(15px, (100% - 1540px) / 2);
}
@media (max-width: 991.98px) {
  .cart__wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    padding-left: 0;
  }
}
.cart .container {
  padding-left: 50px;
  max-width: 100%;
  padding-right: 0;
}
@media (max-width: 991.98px) {
  .cart .container {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 767.98px) {
  .cart .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.cart__content {
  margin-left: 240px;
}
@media (max-width: 1400px) {
  .cart__content {
    margin-left: 35px;
  }
}
@media (max-width: 576px) {
  .cart__content {
    margin-left: 0;
  }
}
.cart__left {
  padding: 55px 0 40px;
}
.cart__right {
  border-left: 1px solid #cfcfcf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
@media (max-width: 991.98px) {
  .cart__right {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: var(--color-white);
    z-index: 2;
    height: 100vh;
    padding-top: 80px;
    -webkit-transition: 500ms ease;
    -o-transition: 500ms ease;
    transition: 500ms ease;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
  }
  .cart__right.active {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
}
.cart__title {
  font-size: 18px;
  margin-bottom: 40px;
}
.cart__steps {
  margin-bottom: 60px;
}
.cart__form {
  max-width: 630px;
}
.cart .cart-steps__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cart .cart-steps__count {
  width: 18px;
  height: 18px;
  border: 1px solid #d5d5d5;
  border-radius: 50%;
  font-size: 10px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
  background-color: var(--color-white);
}
.cart .cart-steps__step {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 1;
}
.cart .cart-steps__step:last-child {
  width: auto;
}
.cart .cart-steps__step:last-child .cart-steps__line {
  display: none;
}
.cart .cart-steps__step--next .cart-steps__count {
  border-color: var(--color-accent);
}
.cart .cart-steps__step--active .cart-steps__count {
  background-color: var(--color-accent);
  color: var(--color-white);
  border-color: var(--color-accent);
}
.cart .cart-steps__step--active .cart-steps__line-fill {
  width: 100%;
}
.cart .cart-steps__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1;
}
.cart .cart-steps__line {
  background-color: #d5d5d5;
  position: absolute;
  top: 9px;
  left: 20px;
  width: 100%;
  height: 1px;
  z-index: -1;
}
.cart .cart-steps__line-fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: var(--color-accent);
}

.cart-right {
  width: 100%;
}
.cart-right__inner {
  width: 410px;
}
.cart-right__box {
  padding: 40px;
}
@media (max-width: 767.98px) {
  .cart-right__box {
    padding: 20px 10px;
  }
}
.cart-right__box:not(:last-child) {
  border-bottom: 1px solid #cfcfcf;
}
.cart-right__title {
  font-size: 18px;
  margin-bottom: 30px;
}
.cart-right__list {
  display: -ms-grid;
  display: grid;
  gap: 40px;
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}

.cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 30px;
  color: var(--color-black);
  position: relative;
}
.cart-item__remove {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  -webkit-transition: 200ms ease;
  -o-transition: 200ms ease;
  transition: 200ms ease;
}
.cart-item__remove:hover svg {
  fill: var(--color-black);
}
.cart-item__remove svg {
  width: 100%;
  height: 100%;
  fill: #cfcfcf;
  -webkit-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
  pointer-events: none;
}
.cart-item__img {
  width: 100px;
  height: 100px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 12px;
}
@media (max-width: 576px) {
  .cart-item__img {
    width: 80px;
    height: 80px;
  }
}
.cart-item__title {
  margin-bottom: 16px;
  font-size: 14px;
}
.cart-item__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cart-item__counter {
  margin-right: 25px;
}

.counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 84px;
  height: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.counter__input {
  width: calc(100% - 50px);
  text-align: center;
}
.counter__btn {
  width: 20px;
  height: 20px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transition: 200ms ease;
  -o-transition: 200ms ease;
  transition: 200ms ease;
}
.counter__btn svg {
  width: 100%;
  height: 100%;
  fill: var(--color-black);
  pointer-events: none;
}

.form-submit {
  width: 100%;
  display: -ms-grid;
  display: grid;
  gap: 40px;
}
.form-submit__radios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form-submit__radios .custom-checkbox:not(:last-child) {
  margin-right: 80px;
}
@media (max-width: 991.98px) {
  .form-submit__radios .custom-checkbox:not(:last-child) {
    margin-right: 20px;
  }
}
.form-submit__checkboxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.form-submit__checkboxes .custom-checkbox:not(:last-child) {
  margin-bottom: 12px;
}
.form-submit__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.form-submit__credit-card {
  background-color: #ffffff;
  border: 1px solid #cfcfcf;
  -webkit-box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.19);
          box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  padding: 25px 30px;
  display: -ms-grid;
  display: grid;
  gap: 20px;
  max-width: 550px;
  min-height: 300px;
  margin-left: -32px;
  -ms-flex-line-pack: start;
      align-content: start;
}
@media (max-width: 767.98px) {
  .form-submit__credit-card {
    min-height: auto;
  }
}
@media (max-width: 576px) {
  .form-submit__credit-card {
    -webkit-box-shadow: none;
            box-shadow: none;
    border: none;
    padding: 0;
    margin-left: 0;
  }
}
.form-submit__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}
.form-submit__label {
  color: #555770;
  margin-bottom: 10px;
  line-height: 1;
  position: relative;
  font-size: 12px;
}
.form-submit__input {
  height: 40px;
  padding: 8px 10px;
  line-height: 1;
  background: #ededf1;
  border-radius: 3px;
  width: 100%;
  overflow: hidden;
}
.form-submit__input:focus {
  outline: 1px solid var(--color-black);
}
.form-submit__input::-webkit-input-placeholder {
  color: #8e90a6;
}
.form-submit__input::-moz-placeholder {
  color: #8e90a6;
}
.form-submit__input:-ms-input-placeholder {
  color: #8e90a6;
}
.form-submit__input::-ms-input-placeholder {
  color: #8e90a6;
}
.form-submit__input::placeholder {
  color: #8e90a6;
}
.form-submit__inputs, .form-submit__groups {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
@media (max-width: 576px) {
  .form-submit__inputs, .form-submit__groups {
    gap: 5px;
  }
}
.form-submit__question-mark {
  width: 13px;
  height: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #dbdbdb;
  border-radius: 50%;
  line-height: 1;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -18px;
  padding-left: 1px;
}
.form-submit__question-mark:hover .tooltip {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(-50%) translateY(0);
      -ms-transform: translateX(-50%) translateY(0);
          transform: translateX(-50%) translateY(0);
}
.form-submit__question-mark svg {
  width: 60%;
  height: 60%;
  fill: var(--color-black);
}
.form-submit .tooltip {
  position: absolute;
  width: auto;
  padding: 10px;
  background-color: var(--color-white);
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  line-height: 1.4;
  text-align: center;
  top: 25px;
  left: 50%;
  -webkit-transition: 200ms ease;
  -o-transition: 200ms ease;
  transition: 200ms ease;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateX(-50%) translateY(-5px);
      -ms-transform: translateX(-50%) translateY(-5px);
          transform: translateX(-50%) translateY(-5px);
}
.form-submit .tooltip::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  top: -19px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent #fff transparent;
  -webkit-filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.1));
  z-index: -1;
}

.form-promocode {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.form-promocode__label {
  margin-right: 10px;
  width: 100%;
}
.form-promocode__input {
  display: block;
  width: 100%;
}
.form-promocode__btn {
  width: 95px;
}
.form-promocode__input {
  height: 40px;
  padding: 8px 10px;
  line-height: 1;
  background: #ededf1;
  border-radius: 3px;
  width: 100%;
  overflow: hidden;
}
.form-promocode__input:focus {
  outline: 1px solid var(--color-black);
}
.form-promocode__input::-webkit-input-placeholder {
  color: #8e90a6;
}
.form-promocode__input::-moz-placeholder {
  color: #8e90a6;
}
.form-promocode__input:-ms-input-placeholder {
  color: #8e90a6;
}
.form-promocode__input::-ms-input-placeholder {
  color: #8e90a6;
}
.form-promocode__input::placeholder {
  color: #8e90a6;
}

.total {
  width: 100%;
}
.total__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 1.3;
  gap: 20px;
}
.total__item:not(:last-child) {
  margin-bottom: 20px;
}
.total__item:last-child {
  font-size: 18px;
  font-weight: 700;
}